langchain
python-dotenv
pykernel
langchain-community
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
pandas
openai
langchain-groq
validators==0.28.1
numexpr
huggingface_hub
jq
fastapi
uvicorn
langgraph
streamlit